<section id="how-to">
  <h2>Comment ça marche ?</h2>
  <div class="how-to-specifics">

    <div class="switch-device">
      <button id="switcher-mobile" class="device-switcher hint--top" data-hint="Sur votre mobile" type="button">
        <div class="ripple-area js-ripple">
          <span class="ripple-circle"></span>
        </div>
        <div id="icon-mobile">
          <%= partial "shared/svg/icon_mobile" %>
        </div>
      </button>
      <button id="switcher-desktop" class="device-switcher hint--top icon-is-hidden" data-hint="Sur votre ordinateur" type="button">
        <div class="ripple-area js-ripple">
          <span class="ripple-circle"></span>
        </div>
        <div id="icon-desktop">
          <%= partial "shared/svg/icon_desktop" %>
        </div>
      </button>
    </div>

    <ul id="specifics-list" class="specifics">
      <li id="specific-1" class="active">
        <h3>Rejoignez-nous</h3>
        <p>Inscrivez-vous gratuitement sur CforGood et valorisez vos engagements du quotidien.</p>
      </li>
      <li id="specific-2">
        <h3>Créez</h3>
        <p>Saisissez vos bons plans solidaires sous la forme que vous souhaitez.</p>
      </li>
      <li id="specific-3">
        <h3>Publiez</h3>
        <p>Rendez les visibles instantanément auprès de notre communauté CforGood.</p>
      </li>
      <li id="specific-4">
        <h3>Profitez</h3>
        <p>Les clients affluent et développent votre activité, tout en inspirant la solidarité !</p>
      </li>
      <li>
        <a href="https://cforgood-staging.herokuapp.com/signup">
          <button id="switcher" class="cta-home" type="button">
            <div class="ripple-area js-ripple">
              <span class="ripple-circle"></span>
            </div>
            Je rejoins la révolution positive
          </button>
        </a>
      </li>
    </ul>
  </div>
  <div class="how-to-images">
    <div class="desktop-images">
      <div class="how-to-mobile mobile-is-visible">
        <%= partial "shared/svg/mobile_2" %>
        <ul id="specifics-images-list">
          <li id="specific-image-1"><img src="<%= image_path 'cforgood-login-mobile.jpg' %>" class="showing" alt=""></li>
          <li id="specific-image-2"><img src="<%= image_path 'cforgood-create-mobile.jpg' %>" alt=""></li>
          <li id="specific-image-3"><img src="<%= image_path 'cforgood-map-mobile.jpg' %>" alt=""></li>
          <li id="specific-image-4"><img src="<%= image_path 'cforgood-analytics-mobile.jpg' %>" alt=""></li>
        </ul>
      </div>
      <div class="how-to-browser browser-is-hidden">
        <%= partial "shared/svg/browser" %>
        <ul id="specifics-images-list">
          <li id="specific-image-1"><img src="<%= image_path 'cforgood-login.jpg' %>" class="showing" alt=""></li>
          <li id="specific-image-2"><img src="<%= image_path 'cforgood-create-perk.jpg' %>" alt=""></li>
          <li id="specific-image-3"><img src="<%= image_path 'cforgood-map.jpg' %>" alt=""></li>
          <li id="specific-image-4"><img src="<%= image_path 'cforgood-analytics.jpg' %>" alt=""></li>
        </ul>
      </div>
    </div>
    <div class="medium-screen">
      <div class="how-to-mobile mobile-is-visible">
        <%= partial "shared/svg/ipad" %>
        <ul id="specifics-images-list">
          <li id="specific-image-1"><img src="<%= image_path 'howto/ipad-signin.jpg' %>" class="showing" alt=""></li>
          <li id="specific-image-2"><img src="<%= image_path 'howto/ipad-createperks.jpg' %>" alt=""></li>
          <li id="specific-image-3"><img src="<%= image_path 'howto/ipad-map.jpg' %>" alt=""></li>
          <li id="specific-image-4"><img src="<%= image_path 'howto/ipad-analytics.jpg' %>" alt=""></li>
        </ul>
      </div>
    </div>
    <div class="small-screen">
    </div>
  </div>
</section>