<nav id="nav">
  <div class="container">
    <div class="nav-items">
      <!-- NAVIGATION LINKS -->
      <div class="nav-left">
        <!-- LOGO -->
        <% link_to '/index.html' do %>
          <div class="logo-mobile">
            <%= partial "shared/svg/logo_thumb" %>
          </div>
          <div class="logo-desktop">
            <%= partial "shared/svg/logo" %>
          </div>
        <% end %>
        <!-- MENU LIST -->
        <ul>
          <!-- Menbres -->
          <% if current_page.path == "index.html" %>
            <li><%= link_to 'Membres', '/index.html', class: "is-active" %></li>
          <% else %>
            <li><%= link_to 'Membres', '/index.html' %></li>
          <% end %>
          <!-- Partenaires -->
          <% if current_page.path == "partenaires.html" %>
            <li><%= link_to 'Partenaires', '/partenaires.html', class: "is-active" %></li>
          <% else %>
            <li><%= link_to 'Partenaires', '/partenaires.html' %></li>
          <% end %>
          <!-- Associations -->
          <% if current_page.path == "associations.html" %>
            <li><%= link_to 'Associations', '/associations.html', class: "is-active" %></li>
          <% else %>
            <li><%= link_to 'Associations', '/associations.html' %></li>
          <% end %>
          <!-- Blog -->
          <% if current_page.path == "blog.html" || current_page.url.include?('blog') %>
            <li><%= link_to 'Blog', '/blog.html', class: "is-active" %>
          <% else %>
            <li><%= link_to 'Blog', '/blog.html' %>
          <% end %>
        </ul>
      </div>
      <!-- SIGNUP/SIGNIN BUTTONS -->
      <div class="nav-right">
        <a href="https://app.cforgood.com/signup">
          <button class="sign-up" type="button">
            <div class="ripple-area js-ripple">
              <span class="ripple-circle"></span>
            </div>
            Je m'inscris
          </button>
        </a>
        <a href="https://app.cforgood.com/signin">
          <button class="sign-in" type="button">
            <div class="ripple-area js-ripple">
              <span class="ripple-circle"></span>
            </div>
            Se connecter
          </button>
        </a>
      </div>
    </div>
  </div>

</nav>


<script>

;(function($, window, document, undefined) {

  'use strict';

  var $ripple = $('.js-ripple');

  $ripple.on('click.ui.ripple', function(e) {

    var $this = $(this);
    var $offset = $this.parent().offset();
    var $circle = $this.find('.ripple-circle');

    var x = e.pageX - $offset.left;
    var y = e.pageY - $offset.top;

    $circle.css({
      top: y + 'px',
      left: x + 'px'
    });

    $this.addClass('is-active');

  });

  $ripple.on('animationend webkitAnimationEnd oanimationend MSAnimationEnd', function(e) {
    $(this).removeClass('is-active');
  });

})(jQuery, window, document);
</script>