<aside>
  <ul id="affix-subnav">
    <li class="list-link <%= nav_active('manifeste.html') %>">
      <%= link_to 'Notre manifeste', '/manifeste.html' %>
    </li>
    <li class="list-link <%= nav_active('charte.html') %>">
      <%= link_to 'Notre charte', '/charte.html' %>
    </li>
    <li class="list-link <%= nav_active('faq.html') %>">
      <%= link_to 'F.A.Q', '/faq.html' %>
    </li>
  </ul>

  <div class="dropdown">
    <div class="default-list-item"><%= current_page.data.title %><i class="fa fa-caret-down" aria-hidden="true"></i></div>
    <ul>
      <li class="<%= hide_item('manifeste.html') %>"><%= link_to 'Notre manifeste', '/manifeste.html' %></li>
      <li class="<%= hide_item('charte.html') %>"><%= link_to 'Notre charte', '/charte.html' %></li>
      <li class="<%= hide_item('faq.html') %>"><%= link_to 'F.A.Q', '/faq.html' %></li>
    </ul>
  </div>
</aside>