<section id="partnerships">
  <h2>Ils nous soutiennent</h2>
  <ul class="partners-silver">
    <li><a href="https://www.labanquepostale.fr/" alt="" target="_blank"><img src="<%= image_path 'logos/banquepostale.png' %>" alt=""></a></li>
    <li><a href="https://www.makesense.org/" alt=""><img src="<%= image_path 'logos/makesense.png' %>" alt=""></a></li>
    <li><a href="http://www.bordeaux-metropole.fr/" alt="" target="_blank"><img src="<%= image_path 'logos/metropole.png' %>" alt=""></a></li>
    <li><a href="http://www.darwin-ecosysteme.fr/" alt="" target="_blank"><img src="<%= image_path 'logos/darwin.png' %>" alt=""></a></li>
    <li><a href="http://www.ticketforchange.org/" alt="" target="_blank"><img src="<%= image_path 'logos/ticket-for-change.png' %>" alt=""></a></li>
  </ul>
  <ul class="partners-gold">
    <li><a href="http://www.agde-audecia.com/" alt="" target="_blank"><img src="<%= image_path 'logos/agde_audencia.png' %>" alt=""></a></li>
    <li><a href="http://www.kisskissbankbank.com/" alt="" target="_blank"><img src="<%= image_path 'logos/kisskissbankbank.png' %>" alt=""></a></li>
    <li><a href="https://www.mazars.fr/" alt="" target="_blank"><img src="<%= image_path 'logos/mazars.png' %>" alt=""></a></li>
    <li><a href="http://www.bordeaux.fr/" alt="" target="_blank"><img src="<%= image_path 'logos/bordeaux.png' %>" alt=""></a></li>
  </ul>
  <ul class="partners-bronze">
    <li><a href="http://www.lafrenchtech.com/" alt="" target="_blank"><img src="<%= image_path 'logos/french-tech.png' %>" alt=""></a></li>
    <li><a href="http://www.aecom.org/" alt="" target="_blank"><img src="<%= image_path 'logos/aec.png' %>" alt=""></a></li>
    <li><a href="http://www.ecoloinfo.com/" alt="" target="_blank"><img src="<%= image_path 'logos/ecolo-info.png' %>" alt=""></a></li>
    <li><a href="http://www.bpifrance.fr/" alt="" target="_blank"><img src="<%= image_path 'logos/bpi.png' %>" alt=""></a></li>
    <li><a href="http://keep-a-breast.org/" alt="" target="_blank"><img src="<%= image_path 'logos/keep-a-breast.png' %>" alt=""></a></li>
  </ul>
</section>