<!doctype html>
<html>
  <head>
    <!-- SHARED - HEAD -->
    <%= partial "web/layout/head" %>
  </head>

  <body class="article">

    <!-- SHARED - NAV -->
    <%= partial "web/layout/nav" %>

    <!-- ARTICLE - HEADER -->
    <%= partial "web/blog/article/article_header" %>

    <article class="article-content">
      <!-- ARTICLE - CONTENT -->
      <%= yield %>

      <!-- ARTICLE - CALL TO ACTION -->
      <%= partial "web/blog/article/article_call_to_action" %>
    </article>

    <%= partial "web/blog/article/article_author" %>

    <!-- DISQUS - COMMENTS -->
    <div id="disqus_thread"></div>

    <!-- SHARED - FOOTER -->
    <%= partial "web/layout/footer" %>

    <!-- DISQUS - JS -->
    <%= partial "web/vendor/disqus" %>
  </body>
</html>

<script>
  $('article').readingTime();

  // BUTTON RIPPLE EFFECT
  jQuery(document).ready(function($, window, document, undefined) {

    'use strict';

    var $ripple = $('.js-ripple');

    $ripple.on('click.ui.ripple', function(e) {
      var $this = $(this);
      var $offset = $this.parent().offset();
      var $circle = $this.find('.ripple-circle');

      var x = e.pageX - $offset.left;
      var y = e.pageY - $offset.top;

      $circle.css({
        top: y + 'px',
        left: x + 'px'
      });

      $this.addClass('is-active');
    });

    $ripple.on('animationend webkitAnimationEnd oanimationend MSAnimationEnd', function(e) {
      $(this).removeClass('is-active');
    });
  });
</script>
