<!doctype html>
<html>
  <head>
    <%= partial "shared/head" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "shared/nav" %>
    <%= yield %>
    <%= partial "shared/footer" %>
  </body>

  <%= partial "shared/js/app" %>
  <!-- Sumome -->
  <!-- <#= partial "shared/sumome" #> -->
  <!-- API Medium -->
  <script async src="https://static.medium.com/embed.js"></script>
</html>
