<!doctype html>
<html>
  <head>
    <%= partial "shared/head" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "shared/nav" %>
    <%= yield %>
    <%= partial "shared/footer" %>
  </body>
</html>
