<!doctype html>
<html>
  <head>
    <!-- SHARED - HEAD -->
    <%= partial "web/layout/head" %>
  </head>

  <body class="<%= page_classes %>">
    <!-- SHARED - NAV -->
    <%= partial "web/layout/nav" %>

    <!-- BLOG INDEX - CONTENT -->
    <%= yield %>

    <!-- SHARED - FOOTER -->
    <%= partial "web/layout/footer" %>
  </body>

  <!-- LOAD BLOG JS -->
  <%= partial "shared/js/app" %>

  <!-- API Medium -->
  <script async src="https://static.medium.com/embed.js"></script>
</html>
