<aside>
  <ul id="affix-subnav">
    <li class="list-link <%= nav_active('cgu.html') %>">
      <%= link_to 'Conditions Générales', '/cgu.html' %>
    </li>
    <li class="list-link <%= nav_active('confidential.html') %>">
      <li><%= link_to 'Charte de confidentialité', '/confidential.html' %></li>
    </li>
    <li class="list-link <%= nav_active('mentions.html') %>">
      <li><%= link_to 'Mentions légales', '/mentions.html' %></li>
    </li>
  </ul>

  <div class="dropdown">
    <div class="default-list-item"><%= current_page.data.title %><i class="fa fa-caret-down" aria-hidden="true"></i></div>
    <ul>
      <li class="<%= hide_item('cgu.html') %>"><a href="cgu">Conditions générales</a></li>
      <li class="<%= hide_item('confidential.html') %>"><a href="confidential">Charte de confidentialité</a></li>
      <li class="<%= hide_item('mentions.html') %>"><a href="mentions">Mentions légales</a></li>
    </ul>
  </div>
</aside>