<div class="frame-illustration">
  <%= image_tag 'illustrations/desktop.svg', class: "illustration desktop" %>
  <%= partial 'shared/svg/markers' %>
  <%= image_tag 'illustrations/forground2.png', class: "illustration forground", id: "forground" %>
  <%= image_tag 'illustrations/background_level2.png', class: "illustration background_2", id: "background-level2" %>
  <%= image_tag 'illustrations/background_level1.png', class: "illustration background_1", id: "background-level1" %>
  </div>