---
title: "Proposer mon Association"
description: "CforGood offre un outil innovant aux associations pour récolter des fonds supplémentaires et développer leur impact. Découvres ici comment ça marche."
thumbnail: "page/default-meta-image.jpg"
---

<div id="home-page">

  <!-- SECTION - CAUSES HEADER -->
  <%= partial 'web/causes/causes_header' %>

  <!-- SECTION - CAUSES VIDEO -->
  <%= partial 'web/causes/causes_video' %>

  <!-- SECTION - CAUSES WHY JOIN US -->
  <%= partial 'web/causes/causes_why' %>

  <!-- SECTION - CAUSES SELECTION PROCESS -->
  <%= partial 'web/causes/causes_selection' %>

  <!-- SECTION - CAUSES HOW TO -->
  <%= partial 'web/causes/causes_how_to' %>

  <!-- SECTION - CALL TO ACTION -->
  <%= partial 'web/causes/causes_call_to_action' %>

  <!-- SECTION - SUPPORTERS -->
  <%= partial 'web/shared/supporters' %>
</div>