---
title: "Proposer mon Association"
description: "CforGood offre un outil innovant aux associations pour récolter des fonds supplémentaires et développer leur impact. Découvres ici comment ça marche."
thumbnail: "page/default-meta-image.jpg"
---

<div id="home-page">

  <!-- SECTION - TESTIMONIALS -->
  <%= partial 'web/causes/causes_header' %>

  <!-- SECTION - TESTIMONIALS -->
  <%= partial 'web/causes/causes_video' %>

  <!-- SECTION - TESTIMONIALS -->
  <%= partial 'web/causes/causes_why' %>

  <!-- SECTION - TESTIMONIALS -->
  <%= partial 'web/shared/testimonials' %>

  <!-- SECTION - CALL TO ACTION -->
  <%= partial 'web/causes/causes_call_to_action' %>

  <!-- SECTION - PRESS ARTICLES -->
  <%= partial 'web/shared/press_articles' %>

  <!-- SECTION - SUPPORTERS -->
  <%= partial 'web/shared/supporters' %>
</div>