---
pageable: true
per_page: 7
title: "Le Blog de CforGood"
description: "La team CforGood sort sa plume afin de t'éclairer sur l'économie responsable et solidaire de manière simple et concrète."
thumbnail: "page/default-meta-image.jpg"
---

<% if current_page.path == 'blog.html' %>
  <div class="blog-index">
    <% blog.articles[0...1].each do |article, i| %>
      <a class="blog-header-block" href="<%= article.url %>" alt="<%= article.title %>">
        <header class="article-header" style="background-image: url('<%= image_path article.data.thumbnail %>')">
          <div class="article-header-info">
            <i><%= article.data.category %></i>
            <h1><%= article.title %></h1>
            <span><%= article.data.description %></span>
            <abbr><div class="eta"></div> de lecture</abbr>
          </div>
          <div class="article-header-author">
            <% author = find_author(article.data.author) %>
            <img src="<%= image_path author.photo %>" alt="<%= author.name %>">
            <i>rédigé par<br><strong><%= author.name %></strong><br>le <time><%= article.date.strftime('%e %b %Y') %></time></i>
          </div>
        </header>
        <script>
          $(function() {
            $('a').readingTime({
                remotePath: '<%= article.url %>',
                remoteTarget: 'article'
            });
          });
        </script>
      </a>
    <% end %>
  <% end %>

  <% if current_page.path.include?("blog") %>
  <div id="nav-categories" class="categories-container">
    <% categories = build_categories(blog.articles) %>
    <ul>
      <% categories.each do |category| %>
        <li>
          <%= link_to category, category_path(category) %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="blog-content">
    <div class="container-fluid blog-posts all-posts">
      <div class="container">
        <ul>
          <% if current_page.path == 'blog.html' %>
            <% page_articles.drop(1).each do |article| %>
              <a class="post" href="<%= article.url %>" alt="<%= article.title %>">
                <li data-file="<%= article.url %>" data-target="article">
                  <div class="frame-thumbnail">
                    <i><%= article.data.category %></i>
                    <div class="article-thumbnail" style="background-image: url('<%= image_path article.data.thumbnail %>')">
                    </div>
                  </div>
                  <h3><%= article.title %></h3>
                  <p><%= article.data.description %></p>
                  <div class="article-info">
                    <%= partial "shared/svg/clock" %>
                    <i><div class="eta"></div> de lecture - Partagé le <time><%= article.date.strftime('%e %b %Y') %></time> par <strong><%= article.data.author %></strong></i>
                  </div>
                </li>
              </a>
            <% end %>
          <% else %>
            <% page_articles.each do |article| %>
              <a class="post" href="<%= article.url %>" alt="<%= article.title %>">
                <li data-file="<%= article.url %>" data-target="article">
                  <div class="frame-thumbnail">
                    <i><%= article.data.category %></i>
                    <div class="article-thumbnail" style="background-image: url('<%= image_path article.data.thumbnail %>')">
                    </div>
                  </div>
                  <h3><%= article.title %></h3>
                  <p><%= article.data.description %></p>
                  <div class="article-info">
                    <%= partial "shared/svg/clock" %>
                    <i><div class="eta"></div> de lecture - Partagé le <time><%= article.date.strftime('%e %b %Y') %></time> par <strong><%= article.data.author %></strong></i>
                  </div>
                  <script>
                    $(function() {
                      $('li').each(function() {
                        $(this).readingTime({
                          readingTimeTarget: $(this).find('.eta'),
                          remotePath: $(this).attr('data-file'),
                          remoteTarget: $(this).attr('data-target')
                        });
                      });
                    });
                  </script>
                </li>
              </a>
            <% end %>
          <% end %>

          <div id="pagination">
            <% if paginate && num_pages > 1 %>
              <p>Page <%= page_number %> of <%= num_pages %></p>

              <% if prev_page %>
                <p><%= link_to 'Previous page', prev_page %></p>
              <% end %>
            <% end %>

            <% if paginate %>
              <% if next_page %>
                <p><%= link_to 'Next page', next_page, class: "next" %></p>
              <% end %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>

    <% if current_page.path == 'blog.html' %>
    <div class="container-fluid medium-container">
      <img class="medium-logo" src="<%= image_path 'logos/medium.png' %>" alt="Logo Medium">
      <div class="container medium">
        <% data.mediums.each do |medium| %>
          <div class="medium-post">
            <div class="medium-card" style="background-image: url('../images/<%= medium.image %>');">
              <a data-width="100%" height="260" href="https://medium.com/cforgood/<%= medium.url %>">
                <%= image_tag 'logos/medium.png', class: 'icon-medium', width: "50px", height: "50px"%>
                <h3><%= medium.title %></h3>
                <p><%= medium.description %></p>
                <div class="medium-author">
                  <%= image_tag medium.pic_author, width: "30px", height: "30px" %>
                  <%= medium.author %>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>