---
pageable: true
per_page: 3
---

<div class="blog-index">
  <% blog.articles[0...1].each do |article, i| %>
    <a href="<%= article.url %>" alt="<%= article.title %>">
      <header class="article-header" style="background-image: url('<%= image_path article.data.thumbnail %>')">
        <div class="article-header-info">
          <i><%= article.data.category %></i>
          <h1><%= article.title %></h1>
          <span><%= article.data.synopsis %></span>
          <abbr><div class="eta"></div> de lecture</abbr>
        </div>
        <div class="article-header-author">
          <% author = find_author(article.data.author) %>
          <img src="<%= image_path author.photo %>" alt="<%= author.name %>">
          <i>rédigé par<br><strong><%= author.name %></strong><br>le<time><%= article.date.strftime('%e %b %Y') %></time></i>
        </div>
      </header>
    </a>

  <% end %>

  <div class="container categories-container">


    <% categories = build_categories(blog.articles) %>
    <ul>
      <% categories.each do |category| %>
        <li>
          <%= link_to category, category_path(category) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="container blog-posts">
    <ul >
      <% blog.articles[1...3].each do |article| %>
        <a href="<%= article.url %>" alt="<%= article.title %>">
          <li data-file="<%= article.url %>" data-target="article">
            <div class="frame-thumbnail">
              <i><%= article.data.category %></i>
              <div class="article-thumbnail" style="background-image: url('<%= image_path article.data.thumbnail %>')">
              </div>
            </div>
            <h3><%= article.title %></h3>
            <p><%= article.data.synopsis %></p>
            <div class="article-info">
              <%= partial "shared/svg/clock" %>
              <i><div class="eta"></div> de lecture - Partagé le<time><%= article.date.strftime('%e %b %Y') %></time> par <strong><%= article.data.author %></strong></i>
            </div>

          </li>
        </a>
      <% end %>
    </ul>
  </div>


  <div class="container-fluid medium-container">
    <div class="container medium">
      <% data.posts.each do |post| %>
        <div class="medium-postcard">
          <a data-width="100%" href="https://medium.com/cforgood/<%= post.url %>" class="m-story"></a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container blog-posts all-posts">
    <ul>
      <% blog.articles[3... blog.articles.size].each do |article| %>
        <a href="<%= article.url %>" alt="<%= article.title %>">
          <li data-file="<%= article.url %>" data-target="article">
            <div class="frame-thumbnail">
              <i><%= article.data.category %></i>
              <div class="article-thumbnail" style="background-image: url('<%= image_path article.data.thumbnail %>')">
              </div>
            </div>
            <h3><%= article.title %></h3>
            <p><%= article.data.synopsis %></p>
            <div class="article-info">
              <%= partial "shared/svg/clock" %>
              <i><div class="eta"></div> de lecture - Partagé le<time><%= article.date.strftime('%e %b %Y') %></time> par <strong><%= article.data.author %></strong></i>
            </div>
          </li>
        </a>
      <% end %>
    </ul>
  </div>
</div>

<!-- READING TIME SCRIPT -->
<script>
  $(function() {
    $('li').each(function() {
      $(this).readingTime({
        readingTimeTarget: $(this).find('.eta'),
        remotePath: $(this).attr('data-file'),
        remoteTarget: $(this).attr('data-target')
      });
    });
  });

  // On document ready, initialise our code.
  $(function(){
    // Initialize buttonFilter code
    buttonFilter.init();
    // Instantiate MixItUp
    $('#mixitup').mixItUp({
      controls: {
        enable: true // we won't be needing these
      },
      animationOptions: {
        duration: 750,
        easing: 'linear',
        queue: false
      }
    });
  });
</script>