<div id="home-page">
  <header class="container">
    <div class="vision">
      <!-- <#= partial "shared/svg/logo" %> -->
      <p>Enfin un moyen simple de…</p>
      <div id="typed-strings">
        <p>Redécouvrir votre ville autrement.</p>
        <p>Consommer de manière responsable.</p>
        <p>Soutenir des projets qui vous tiennent à coeur.</p>
        <p>Changer le monde à votre échelle !</p>
      </div>
      <span id="typed"></span>
    </div>
    <%= partial "shared/svg/main_illustration" %>
  </header>

  <section id="video">
    <h2>Rejoignez la Révolution Positive</h2>
    <p>Intégrez un réseau de solidarité nouvelle génération, qui rassemble localement, citoyens, commerçants responsables et associations pour favoriser les comportements positifs.</p>
    <button id="video-launcher" class="video-launcher" type="button" data-toggle="video-modal" data-target="#modal-video" data-theVideo="http://www.youtube.com/embed/4tYrdTm6lwQ">
      <div class="ripple-area js-ripple">
        <span class="ripple-circle"></span>
      </div>
      Voir la vidéo <%= partial "shared/svg/play" %>
    </button>
    <%= partial "shared/modal_video" %>
  </section>

  <section id="own-scale">
    <div class="section-icon">
      <%= partial "shared/svg/solidarity" %>
    </div>
    <div class="section-description">
      <h3>Je rejoins un véritable réseau de solidarité</h3>
      <p>Je soutiens l’association de mon choix à travers une participation libre pour devenir membre et je rejoins une communauté d’acteurs positifs qui agis au quotidien pour inventer une société qui avance dans le bon sens / qui agis pour un quotidien qui avance dans le bon sens.</p>
      <span class="hint--top" data-hint="Le pourcentage exact est déterminé en fonction du montant de votre participation mensuelle."><i>90%</i> de mon abonnement reversé à une association *</span>
    </div>
  </section>

  <section id="consumption">
    <div class="section-icon">
      <%= partial "shared/svg/discover" %>
    </div>
    <div class="section-description">
      <h3>Je découvre ma ville autrement</h3>
      <p>Je porte un tout autre regard sur ma ville en découvrant des événements enthousiasmant, des associations engagées et des commerçants qui réinventent de nouvelles manières de faire et de consommer.</p>
      <span><i>62+</i>partenaires à découvrir et rencontrer !</span>
    </div>
  </section>

  <section id="solidarity-network">
    <div class="section-icon">
      <%= partial "shared/svg/perks" %>
    </div>
    <div class="section-description">
      <h3>J'accède à des bons plans solidaires</h3>
      <p>En tant que membre CforGood, je bénéficie de bons plans exclusifs chez les commerces responsables autour de moi.</p>
      <span><i>80+</i>bons plans responsables disponibles !</span>
    </div>
  </section>

  <section id="consumption">
    <div class="section-icon">
      <%= partial "shared/svg/waterdrop" %>
    </div>
    <div class="section-description">
      <h3>Je change le monde à mon échelle</h3>
      <p>En devenant membre, je deviens le véritable moteur d’un mouvement favorisant l’émergence d’une société plus responsable et solidaire.<br>Ensemble, nous sommes une Révolution Positive.</p>
      <span><i>650+</i>utilisateurs inscrits !</span>
    </div>
  </section>

  <section id="how-to">
    <div class="how-to-specifics">
      <h2>Comment ça marche ?</h2>
      <div class="switch-device">
        <button id="switcher" class="device-switcher hint--top" data-hint="Changez de support !" type="button">
          <div class="ripple-area js-ripple">
            <span class="ripple-circle"></span>
          </div>
          <div id="icon-desktop">
            <%= partial "shared/svg/icon_desktop" %>
          </div>
          <div id="icon-mobile" class="icon-mobile-is-hidden">
            <%= partial "shared/svg/icon_mobile" %>
          </div>
        </button>
      </div>
      <ul id="specifics-list" class="specifics">
        <li id="specific-1" class="active">
          <h3>Rejoignez-nous</h3>
          <p>Soutenez l'association de votre choix en leur reversant la moitié de votre abonnement</p>
        </li>
        <li id="specific-2">
          <h3>Localisez</h3>
          <p>Redécouvrez votre ville en localisant les commerces responsables autour de vous.</p>
        </li>
        <li id="specific-3">
          <h3>Découvrez</h3>
          <p>Consultez les bons plans exclusifs proposés par chacun d'eux.</p>
        </li>
        <li id="specific-4">
          <h3>Profitez</h3>
          <p>Profitez en simplement en montrant votre carte de membre !</p>
        </li>
      </ul>
    </div>
    <div class="how-to-images">
      <div class="how-to-mobile mobile-is-visible">
        <%= partial "shared/svg/mobile_2" %>
        <ul id="specifics-images-list">
          <li id="specific-image-1"><img src="<%= image_path 'cforgood-login-mobile.jpg' %>" class="showing" alt=""></li>
          <li id="specific-image-2"><img src="<%= image_path 'cforgood-map-mobile.jpg' %>" alt=""></li>
          <li id="specific-image-3"><img src="<%= image_path 'cforgood-bonplan-mobile.jpg' %>" alt=""></li>
          <li id="specific-image-4"><img src="<%= image_path 'cforgood-use-mobile.jpg' %>" alt=""></li>
        </ul>
      </div>
      <div class="how-to-browser browser-is-hidden">
        <%= partial "shared/svg/browser" %>
        <ul id="specifics-images-list">
          <li id="specific-image-1"><img src="<%= image_path 'cforgood-login.jpg' %>" class="showing" alt=""></li>
          <li id="specific-image-2"><img src="<%= image_path 'cforgood-map.jpg' %>" alt=""></li>
          <li id="specific-image-3"><img src="<%= image_path 'cforgood-bonplan.jpg' %>" alt=""></li>
          <li id="specific-image-4"><img src="<%= image_path 'cforgood-use.jpg' %>" alt=""></li>
        </ul>
      </div>
    </div>
  </section>

  <section id="no-download">
    <div class="section-icon">
      <%= partial "shared/svg/signet_iphone" %>
    </div>
    <div class="section-description">
      <h2>Accessible partout, tout le temps.</h2>
      <p>CforGood est directement accessible depuis le navigateur internet de votre ordinateur et/ou smartphone favoris !</p>
      <ul>
        <li><%= partial "shared/svg/check" %> Rien à télécharger/mettre à jour</li>
        <li><%= partial "shared/svg/check" %> Compatible avec tous les navigateurs (Chrome, Safari...)</li>
        <li><%= partial "shared/svg/check" %> Ajoutez un raccoucis sur votre écran d'acceuil !</li>
      </ul>
    </div>
  </section>

  <section id="testimonials">
    <div class="testimonials-carousel">
      <% data.testimonials.each do |testimony| %>
        <div class="testimony">
          <p><%= testimony.content %></p>
          <div class="witness">
            <%= image_tag testimony.picture %>
            <div class="witness-details">
              <span><%= testimony.name %></span>
              <i>Le <%= testimony.date %></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <section id="call-to-action">
    <div class="cta-container">
      <button id="switcher" class="cta-home" type="button">
        <div class="ripple-area js-ripple">
          <span class="ripple-circle"></span>
        </div>
        Je rejoins la révolution positive
      </button>
      <a href="#" alt="">Découvrez nos tarifs</a>
    </div>
  </section>

  <section id="articles">
    <div class="articles-carousel">
      <% data.articles.each do |article| %>
        <a href="<%= article.url %>" alt="<%= article.title %>" %>
          <%= image_tag article.logo %>
        </a>
      <% end %>
    </div>
  </section>

  <section id="partnerships">
    <h2>Ils nous soutiennent</h2>
    <ul class="partners-silver">
      <li><a href="https://www.labanquepostale.fr/" alt=""><img src="<%= image_path 'logos/banquepostale.png' %>" alt=""></a></li>
      <li><a href="https://www.makesense.org/" alt=""><img src="<%= image_path 'logos/makesense.png' %>" alt=""></a></li>
      <li><a href="http://www.bordeaux-metropole.fr/" alt=""><img src="<%= image_path 'logos/metropole.png' %>" alt=""></a></li>
      <li><a href="http://www.darwin-ecosysteme.fr/" alt=""><img src="<%= image_path 'logos/darwin.png' %>" alt=""></a></li>
      <li><a href="http://www.ticketforchange.org/" alt=""><img src="<%= image_path 'logos/ticket-for-change.png' %>" alt=""></a></li>
    </ul>
    <ul class="partners-gold">
      <li><a href="http://www.kisskissbankbank.com/" alt=""><img src="<%= image_path 'logos/kisskissbankbank.png' %>" alt=""></a></li>
      <li><a href="https://www.mazars.fr/" alt=""><img src="<%= image_path 'logos/mazars.png' %>" alt=""></a></li>
      <li><a href="http://www.bordeaux.fr/" alt=""><img src="<%= image_path 'logos/bordeaux.png' %>" alt=""></a></li>
    </ul>
    <ul class="partners-bronze">
      <li><a href="http://www.lafrenchtech.com/" alt=""><img src="<%= image_path 'logos/french-tech.png' %>" alt=""></a></li>
      <li><a href="http://www.aecom.org/" alt=""><img src="<%= image_path 'logos/aec.png' %>" alt=""></a></li>
      <li><a href="http://www.ecoloinfo.com/" alt=""><img src="<%= image_path 'logos/ecolo-info.png' %>" alt=""></a></li>
      <li><a href="http://www.bpifrance.fr/" alt=""><img src="<%= image_path 'logos/bpi.png' %>" alt=""></a></li>
      <li><a href="http://keep-a-breast.org/" alt=""><img src="<%= image_path 'logos/keep-a-breast.png' %>" alt=""></a></li>
    </ul>
  </section>
</div>

<script>
  // TYPED SCRIPT ACTIVATION
  jQuery(document).ready(function() {
    $("#typed").typed({
      stringsElement: $('#typed-strings'),
      loop: true,
      typeSpeed: 10,
      backDelay: 1000,
      backSpeed: 0,
    });
  });

  // LAUNCH MODAL
  $('#video-launcher').click(function(e) {
    $('#modal-video').toggleClass('is-visible');
  });

  // SLICK
  jQuery(document).ready(function(){
    $('.articles-carousel').slick({
      dots: false,
      arrows: false,
      infinite: true,
      speed: 300,
      slidesToShow: 6
    });

    $('.testimonials-carousel').slick({
      dots: true,
      arrows: false,
      infinite: true,
      speed: 300,
      slidesToShow: 4
    });
  });

  // TOGGLE AUTOPLAY YOUTUBE VIDEO ON MODAL OPENING/CLOSING
  jQuery(document).ready(function(){
    //LAUNCH FUCTION AUTOPLAY
    autoPlayYouTubeModal();
    //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
    function autoPlayYouTubeModal() {
      var trigger = $("#video").find('[data-toggle="video-modal"]');
      trigger.click(function () {
          var theModal = $(this).data("target"),
              videoSRC = $(this).attr("data-theVideo"),
              videoSRCauto = videoSRC + "?autoplay=1";
          $(theModal + ' iframe').attr('src', videoSRCauto);
           $('.modal-close').click(function(e) {
              $('#modal-video').removeClass('is-visible');
              //$('.modal-backdrop').remove();
              //$('body').removeClass('modal-open');
              $(theModal + ' iframe').attr('src', videoSRC);
            });
          $('#modal-video').click(function () {
              $(theModal + ' iframe').attr('src', videoSRC);
          });
      });
    }
  });

  // SWITCH DEVICE ON CLICK
  $('#switcher').click(function(e) {
    $('.how-to-browser').toggleClass('browser-is-hidden');
    $('.how-to-mobile').toggleClass('mobile-is-visible');
    $('#icon-mobile').toggleClass('icon-mobile-is-hidden');
    $('#icon-desktop').toggleClass('icon-desktop-is-hidden');
    e.preventDefault() /*ignores actual link*/
  });

  // TOGGLE HIGHLIGHT SPECIFIC
  $('#specifics-list li').click(function(e) {
    $(this).siblings('li').removeClass('active');
    $(this).closest('li').addClass('active');
    e.preventDefault() /*ignores actual link*/
  });

  // SHOW IMAGE FOR SPECIFC 1
  $('#specific-1').click(function(e) {
    $('#specifics-images-list li img').removeClass('showing');
    $('#specific-image-1 img').addClass('showing');
    e.preventDefault() /*ignores actual link*/
  });

  // SHOW IMAGE FOR SPECIFC 2
  $('#specific-2').click(function(e) {
    $('#specifics-images-list li img').removeClass('showing');
    $('#specific-image-2 img').addClass('showing');
    e.preventDefault() /*ignores actual link*/
  });

  // SHOW IMAGE FOR SPECIFC 3
  $('#specific-3').click(function(e) {
    $('#specifics-images-list li img').removeClass('showing');
    $('#specific-image-3 img').addClass('showing');
    e.preventDefault() /*ignores actual link*/
  });

  // SHOW IMAGE FOR SPECIFC 4
  $('#specific-4').click(function(e) {
    $('#specifics-images-list li img').removeClass('showing');
    $('#specific-image-4 img').addClass('showing');
    e.preventDefault() /*ignores actual link*/
  });

  // BUTTON RIPPLE EFFECT
  jQuery(document).ready(function($, window, document, undefined) {

    'use strict';

    var $ripple = $('.js-ripple');

    $ripple.on('click.ui.ripple', function(e) {
      var $this = $(this);
      var $offset = $this.parent().offset();
      var $circle = $this.find('.ripple-circle');

      var x = e.pageX - $offset.left;
      var y = e.pageY - $offset.top;

      $circle.css({
        top: y + 'px',
        left: x + 'px'
      });

      $this.addClass('is-active');
    });

    $ripple.on('animationend webkitAnimationEnd oanimationend MSAnimationEnd', function(e) {
      $(this).removeClass('is-active');
    });
  });
</script>