---
title: "Rejoignez la Révolution Positive"
description: "Le réseau de solidarité nouvelle génération qui te redonne le pouvoir d’agir dans le bon sens !"
thumbnail: "page/default-meta-image.jpg"
---

<div id="home-page">

  <!-- HEADER - MEMBER -->
  <%= partial 'web/home/member_header' %>

  <!-- SECTION - VIDEO -->
  <%= partial 'web/shared/video' %>

  <!-- SECTION - BLOCK 1 - MEMBER DISCOVERY -->
  <%= partial 'web/home/member_discovery' %>

  <!-- SECTION - SHOW MAP CFORGOOD -->
  <%= partial 'web/shared/map_cforgood' %>

  <!-- SECTION - BLOCK 2 - MEMBER PERKS -->
  <%= partial 'web/home/member_perks' %>

  <!-- SECTION - SHOW PERKS EXAMPLES -->
  <%= partial 'web/shared/perks_examples' %>

  <!-- SECTION - BLOCK 3 - MEMBER SOLIDARITY NETWORK -->
  <%= partial 'web/home/member_solidarity' %>

  <!-- SECTION - SHOW CAUSES EXAMPLES -->
  <%= partial 'web/shared/causes_examples' %>

  <!-- SECTION - HOW TO TABLET / DESKTOP -->
  <%= partial 'web/home/member_how_to' %>

  <!-- SECTION - HOW TO MOBILE -->
  <%= partial 'web/home/member_how_to_mobile' %>

  <!-- SECTION - GO TO NEXT PAGES -->
  <%= partial 'web/home/member_go_to' %>

  <!-- SECTION - NO DOWNLOAD -->
  <%= partial 'web/shared/no_download' %>

  <!-- SECTION - TESTIMONIALS -->
  <%= partial 'web/shared/testimonials' %>

  <!-- SECTION - CALL TO ACTION -->
  <%= partial 'web/shared/call_to_action' %>

  <!-- SECTION - PRESS ARTICLES -->
  <%= partial 'web/shared/press_articles' %>

  <!-- SECTION - SUPPORTERS -->
  <%= partial 'web/shared/supporters' %>
</div>
