---
title: "Devenez Partenaire de la Révolution Positive !"
description: "Vous êtes un commerçant adoptant des démarches responsables ? Inscrivez-vous et bénéficiez gratuitement de nos outils qui vous aident à gérer votre activité."
thumbnail: "page/default-meta-image.jpg"
---

<div id="home-page">

  <!-- HEADER - PARTNERS -->
  <%= partial 'web/partners/partners_header' %>

  <!-- SECTION - VIDEO -->
  <%= partial 'web/shared/video' %>

  <!-- SECTION - BLOCK 1 - PARTNERS DISCOVERY -->
  <%= partial 'web/partners/partners_discovery' %>

  <!-- SECTION - SHOW MAP CFORGOOD -->
  <%= partial 'web/shared/map_cforgood' %>

  <!-- SECTION - BLOCK 2 - PARTNERS PERKS -->
  <%= partial 'web/partners/partners_perks' %>

  <!-- SECTION - SHOW PERKS EXAMPLES -->
  <%= partial 'web/shared/perks_examples' %>

  <!-- SECTION - BLOCK 3 - PARTNERS SOLIDARITY -->
  <%= partial 'web/partners/partners_solidarity' %>

  <!-- SECTION - SHOW CAUSES EXAMPLES -->
  <%= partial 'web/shared/causes_examples' %>

  <!-- SECTION - HOW TO TABLET / DESKTOP -->
  <%= partial 'web/partners/partners_how_to' %>

  <!-- SECTION - HOW TO MOBILE -->
  <%= partial 'web/partners/partners_how_to_mobile' %>

  <!-- SECTION - GO TO NEXT PAGES -->
  <%= partial 'web/partners/partners_go_to' %>

  <!-- SECTION - NO DOWNLOAD -->
  <%= partial 'web/shared/no_download' %>

   <!-- SECTION - TESTIMONIALS -->
  <%= partial 'web/shared/testimonials' %>

  <!-- SECTION - CALL TO ACTION -->
  <%= partial 'web/shared/call_to_action' %>

  <!-- SECTION - PRESS ARTICLES -->
  <%= partial 'web/shared/press_articles' %>

  <!-- SECTION - SUPPORTERS -->
  <%= partial 'web/shared/supporters' %>
</div>
