---
title: L'équipe CforGood
---

<header>
  <h1><%= data.page.title %></h1>
</header>

<div class="container">
  <div class="page-container">
    <ul>
      <% data.team.each do |member| %>
        <li>
          <div class="member-pic">
            <%= image_tag member.pic %>
          </div>
          <div class="member-info <%= member.color %>">
            <h2><%= member.first_name %> <%= member.last_name %></h2>
            <span><%= member.job_position %></span>
            <div class="member-social">
              <% if member.facebook.present? %>
                <a href="http://facebook.com/<%= member.facebook %>" alt="Le comtpe Facebook de <%= member.first_name %>"><%= partial 'shared/svg/icon_facebook' %></a>
              <% end %>
              <% if member.twitter.present? %>
                <a href="http://twitter.com/<%= member.twitter %>" alt="Le comtpe Twitter de <%= member.first_name %>"><%= partial 'shared/svg/icon_twitter' %></a>
              <% end %>
              <% if member.instagram.present? %>
                <a href="http://instagram.com/in/<%= member.instagram %>" alt="Le comtpe Instagram de <%= member.first_name %>"><%= partial 'shared/svg/icon_instagram' %></a>
              <% end %>
              <% if member.linkedin.present? %>
                <a href="http://linkedin.com/<%= member.linkedin %>" alt="Le comtpe Linkedin de <%= member.first_name %>"><%= partial 'shared/svg/icon_linkedin' %></a>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>