---
title: L'équipe CforGood
---

<header>
  <h1><%= data.page.title %></h1>
</header>

<div class="page-container">
  <ul>
    <% data.team.each do |member| %>
      <li>
        <div class="member-pic">
          <%= image_tag member.pic %>
        </div>
        <div class="member-info <%= member.color %>">
          <h2><%= member.first_name %> <%= member.last_name %></h2>
          <span><%= member.job_position %></span>
          <% if member.facebook.present? %>
            <a href="http://facebook.com/<%= member.facebook %>" alt="Le comtpe Facebook de <%= member.first_name %>">Facebook</a>
          <% end %>
          <% if member.twitter.present? %>
            <a href="http://twitter.com/<%= member.twitter %>" alt="Le comtpe Twitter de <%= member.first_name %>">Twitter</a>
          <% end %>
          <% if member.instagram.present? %>
            <a href="http://instagram.com/in/<%= member.instagram %>" alt="Le comtpe Instagram de <%= member.first_name %>">Instagram</a>
          <% end %>
          <% if member.github.present? %>
            <a href="http://github.com/<%= member.github %>" alt="Le comtpe Github de <%= member.first_name %>">Github</a>
          <% end %>
          <% if member.linkedin.present? %>
            <a href="http://linkedin.com/<%= member.linkedin %>" alt="Le comtpe Linkedin de <%= member.first_name %>">Linkedin</a>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>